#app-guide span+h3 {
    padding-left: 0.5rem;
    margin-bottom: 0;
}

#app-guide ol.toc {
    padding-left: 2.5rem;
    counter-reset: list-index;
}

#app-guide ol.toc > li {
    list-style: none;
    counter-increment: list-index;
}

#app-guide ol.toc > li::marker {
    content: counter(list-index) ".\a0";
}

#app-guide ol.toc>li>ol {
    padding-left: 2.5rem;
    counter-reset: list-index-nested;
}

#app-guide ol.toc>li>ol > li {
    counter-increment: list-index-nested;
}

#app-guide ol.toc>li>ol > li::marker {
    content: counter(list-index) "." counter(list-index-nested) "\a0";
}

#app-guide img {
    max-width: 100%;
}

#guide-install img {
    max-width: 25rem;
}

/*#guide-support hr + div > div.col.flex + div > p {
    line-height: 1;
}*/

/* small format */
@media screen and (max-width: 25rem) {
    #guide-install img {
        max-width: 100%;
    }
}

/* small format */
@media screen and (max-width: 680px) {
    #app-guide ol.toc,
    #app-guide ol.toc>li>ol {
        padding-left: 2rem;
    }
}