#app-guide img {
    max-width: 100%;
}

#guide-install img {
    max-width: 25rem;
}

/*#guide-support hr + div > div.col.flex + div > p {
    line-height: 1;
}*/

/* small format */
@media screen and (max-width: 25rem) {
    #guide-install img {
        max-width: 100%;
    }
}

/* small format */
@media screen and (max-width: 680px) {

}